#elem {
	
	background-origin: border-box;
	background-clip: padding-box;
	background-attachment: scroll;
	background-size: 300px 400px;
	background-position: bottom right;
	background-image: url("bg.png");
	background-repeat: no-repeat;
	width: 1920px;
	height: 1080px;
}