div {
	width: 700px;
	border: 1px solid rgb(0, 0, 0);
	text-align: justify;
	padding: 20px 20px 20px 20px;
}

.left {
	float: left;
	margin: 20px 20px 0 20px;
	width: 100px;
	height: 80px;
} 
.one {
	float: right; 
	margin: 20px 20px 0 20px;
	width: 100px;
	height: 80px;
}