#elem {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 50px 70px;
}
#elem1 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 10px 30px;
}
#elem2 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 20px 30px;
}