.eee h2.bbb {
	color: red;/* найдем все элементы h2 с классом bbb, находящиеся внутри элеменнта с классом eee и задаем им цвет красный*/
}
.eee h3.bbb {
	color: red;/* найдем все элементы h2 с классом bbb, находящиеся внутри элеменнта с классом eee и задаем им цвет красный*/
}
.eee p.bbb {
	color: red;/* найдем все элементы p с классом bbb, находящиеся внутри элеменнта с классом eee и задаем им цвет красный*/
}
.eee .bbb .kkk {
	color: red;/* найдем все элементы класса kkk с классом bbb, находящиеся внутри элеменнта с классом eee и задаем им цвет красный*/
}