#parent {
	width: 200px;
	border: 1px solid orange;
}
#child {
	margin: 25px 50px 100px 10px;
	height: 50px;
	border: 1px dashed blue;
}
#parent2 {
	width: 200px;
	border: 1px solid orange;
}
#child2 {
	margin: 100px 50px;
	height: 50px;
	border: 1px dashed blue;
}
#parent3 {
	width: 200px;
	border: 1px solid orange;
}
#child3 {
	margin: 25px 50px;
	height: 50px;
	border: 1px dashed blue;
}
#parent4 {
	width: 200px;
	border: 1px solid orange;
}
#child4 {
	margin: 100px 50px 30px;
	height: 50px;
	border: 1px dashed blue;
}
#parent5 {
	width: 400px;
	border: 1px solid orange;
}
#child5 {
	margin: 30px 100px 50px;
	height: 50px;
	border: 1px dashed blue;
}