.bbb.zzz {
	color: red; /*выберет элемент, одновременно имеющий класс bbb и класс zzz*/
} 
h2.bbb.zzz {
	color: rgb(0, 60, 255); /*выберет элемент, одновременно имеющий класс bbb и класс zzz из родительского h2*/
}
#elem.bbb {
	color: rgb(0, 255, 64);/*выберет элемент, одновременно имеющий класс bbb из id элемента elem*/
}
#elem1.bbb.zzz {
	color: rgb(225, 0, 255); /*выберет элемент, одновременно имеющий класс bbb и класс zzz из id элемента elem1*/
}
h2#elem2.bbb {
	color: rgb(255, 0, 191);/*выберет элемент, одновременно имеющий класс bbb из id элемента родительского h2*/
}


h2.zzz {
	color: red;/*выберет элемент, одновременно имеющий класс zzz из id элемента родительского h2*/
}
h2 .zzzz {
	color: rgb(0, 255, 98);/*выберет элемент, одновременно имеющий класс zzzz из id элемента родительского h2*/
}
.bbb.zzz {
	color: red;/*выберет элемент, одновременно имеющий класс bbb и zzz*/
}
.bbb .zzz {
	color: rgb(0, 204, 255);/*выберет элемент,  имеющий класс zzz из класса bbb*/
}
.bbb.zzz.xxx {
	color: rgb(76, 0, 255);/*выберет элемент, одновременно имеющий класс bbb и zzz и xxx*/
}
.bbb .zzz.xxx {
	color: red;/*выберет элемент,  имеющий класс zzz и xxx из класса bbb*/
}
.bbb.zzz .xxx {
	color: rgb(255, 136, 0);/*выберет элемент,  имеющий класс xxx из класса bbb и zzz*/
}
.bbb .zzz .xxx {
	color: rgb(0, 255, 85);/*выберет элемент,  имеющий класс xxx из класса zzz из класса bbb*/
}
#elem14.bbb {
	color: rgb(175, 216, 25);/*выберет элемент, имеющий класс bbb из id элемента elem14*/
}
#elem15 .bbb {
	color: red;/*выберет элемент, имеющий класс bbb из родительского id элемента elem14*/
}