/* 1 */
[title] {
    color: red;
}
/* 2 */
p[title] {
    color: red;
}
/* 3 */
p[title = "привет"] {
    color: red;
}
/* 4 */
[href ^="http://"] {
    color: black;
}
.red{
    color: red;
}
/* 5 */
[href $=".html"] {
    color: black;
}
/* 6 */
