/* 1*/
p.bbb {
	color: red;
 }
 /* Данный селектор выбирает все абзацы класса bbb */
 
 /* 2*/
 
 p .bbb {
	color: rgb(255, 0, 0);
 }
 /*Данный селектор выбирает все элементы класса bbb находящиеся в абзаце */
 
 /* 3 */
 .eee p.bbb {
	color: red;
 }
 /*Данный текст выбирает все абзацы класса bbb внутри класса еее */
 
 /* 4 */
 .eee p .bbb {
	color: red;
 }
 /*Данный селектор выбирает элементы класса bbb находящегося внутри абзацев которые относятца к родительскому классу еее*/