#parent {
	width: 400px;
	border: 1px dashed  blue;
}

#child {
	height: 300px;
	border: 1px solid orange;
	margin: 50px;
}
#parent2 {
	width: 400px;
	border: 1px dashed  blue;
}
#child1 {
	height: 200px;
	border: 1px dashed green;
	margin: 30px;
}
#child2 {
	height: 140px;
	border: 1px solid red;
	margin: 30px;
}