.parent	{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}
.child {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}
.parent2	{
  display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				width: 900px;
				height: 400px;
				margin: 20px auto;
				border: 1px solid red;
}

.parent3	{
  display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
				width: 900px;
				height: 400px;
				margin: 20px auto;
				border: 1px solid red;
}
.parent4	{
  display: flex;
				flex-direction: column-reverse;
				justify-content: center;
				align-items: flex-end;
				width: 900px;
				height: 400px;
				margin: 20px auto;
				border: 1px solid red;
}
.parent5	{
  display: flex;
				flex-direction: column-reverse;
				justify-content: center;
				align-items: flex-start;
				width: 900px;
				height: 400px;
				margin: 20px auto;
				border: 1px solid red;
}
.parent6	{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}
.parent7	{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}
.parent8	{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}
.parent9	{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}