/*1*/
h2 {
	font-size: 20px;
}
h2 {
	font-size: 30px;
}
/*Размер заголовка будет 30px, так как второй стиль перезапишет первый.*/

/*2*/
h2 {
	font-size: 20px;
	color: blue;
}
h2 {
	font-style: italic;
	color: red;
}
/*Размер заголовка будет 20px,а цвет будет красный и шрифт italic, так как второй стиль перезапишет первый*/